<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8">
<link rel="stylesheet" type="text/css" href="font.style">
    <style>
      body {
        font-family: 'Open Sans', sans-serif;
        
      }
    </style>
	

</head>

<body bgcolor="#f4f4f4">

<div align="center">
<a href="/"><img width="1024" src="http://img.picfight.org/util/header1.jpg"/></a>


<table width="1024" border="0" CELLPADDING="10" style="background-color:#ffffff">
							<tr>
								<td ALIGN="center">
<a href="pf-top-pix">Top Pix</a> | <a href="pf-rating">Players Rating</a> | <a href="pf-past-fights">Past Fights</a></td>
							</tr>
							
						</table>
						<br>
						<table width="1024" border="0" CELLPADDING="10" style="background-color:#ffffff">
							<tr>
								<td >
								<p> </p>
 <p> </p>
 <h2>PicFight is a community of diligent artists.</h2>
 Our goal is to improve our skills through a voluntary participation in a set of exhausting art challenges (fights).
 
 PicFights is a regular art&nbsp;event.&nbsp; Participants draw art&nbsp;from scratch in a weekend or more, based on a theme suggested by community.&nbsp;The event attracts artists&nbsp;from all sides of the industry. Students, hobbyists, industry professionals, even&nbsp;independent game developers.&nbsp;We always welcome new participants and&nbsp;subscribers who tend to bring some positive thinking and constructive behavior in surrounding world.
 <h2>How it usually works?</h2>
 <ol>
 	<li>Master of the game announces&nbsp;one drawing subject and a deadline. (see: <a href="http://picfight.org/tag/announcement/" target="_blank">http://picfight.org/tag/announcement/</a>)</li>
 	<li>Each participant draw at least one artwork for the subject, hide it from other participants and secretly send his finished/unfinished works to the master of the game.</li>
 	<li>Then after the deadline the master publish all works.&nbsp;(see:&nbsp;<a href="http://picfight.org/tag/fight-results/" target="_blank">http://picfight.org/tag/fight-results/</a>)</li>
 </ol>
 Usually deadlines are flexible: we prefer to wait a bit more but to get more fun in the end. Let us know if you just need some more time to finish your artwork.
 <h2>How to become participant?</h2>
 <ol>
 	<li>Check for&nbsp;the latest fight announcements.</li>
 	<li>Make your artwork accordingly to the fight conditions.</li>
 	<li>Submit it.</li>
 	<li>Wait for the results.</li>
 </ol>
 <h2>Rules and Conditions</h2>
 <ul>
 	<li>You&nbsp;must&nbsp;enjoy the process. If you don't enjoy, you're doing it wrong.</li>
 	<li>Artwork&nbsp;must&nbsp;be based on the fight theme.</li>
 	<li>Artwork&nbsp;must&nbsp;be created specifically for the fight. Don't submit your previously made works.</li>
 	<li>Please produce&nbsp;something that would make you proud of yourself.</li>
 </ul>
 Specific rules like theme and deadlines&nbsp;are in the announcement post.
 
 <h2>Arbiter Tribunal (Staff)</h2>
 <a title="http://picfight.org/social/members/jfixby/profile/" href="http://picfight.org/social/members/jfixby/profile/" target="_blank">J Fixby</a>
 <a href="http://picfight.org/social/members/delasevenius/profile/" title="http://picfight.org/social/members/delasevenius/profile/" target="_blank">Gu</a>
 <a href="http://picfight.org/social/members/sherbul/profile/" title="http://picfight.org/social/members/sherbul/profile/" target="_blank">Sherbul</a>
 <a href="http://picfight.org/social/members/tamrius/profile/" title="http://picfight.org/social/members/tamrius/profile/" target="_blank">Tamrius</a>
 
 <h2>Your Content in our Contests</h2>
 <strong>In essence:</strong>
 Your art belongs to you. After all, you made it. PicFight, its organizers and affiliates claim no rights or ownership of your art. In short, what belongs to you stays yours.
 
 The organizers do request the right to use your art for purpose of publicizing the competition. If you do not wish your art to be publicized in this way, we ask that you make an effort to inform the organizers and downloaders of your request.
 
 <strong>A bit more formally:</strong>
 When you submit your artwork to the&nbsp;fight&nbsp;you allow&nbsp;PicFight to use it under the <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0)</a>&nbsp;license
 
 PicFight is free to:
 <ul id="license-freedoms-no-icons">
 	<li class="license share"><strong style="color: #222222;">Share</strong>&nbsp;— copy and redistribute the material in any medium or format</li>
 	<li class="license remix"><strong style="color: #222222;">Adapt</strong>&nbsp;— remix, transform, and build upon the material</li>
 </ul>
 Also&nbsp;you give PicFight (and those we work with) a worldwide license to use, host, store, reproduce, modify, create derivative works (such as those resulting from translations, adaptations or other changes we make so that your content works better with our contests), communicate, publish, publicly perform, publicly display and distribute such content. The rights you grant in this license are for the limited purpose of operating, promoting, and improving our fights, and to develop new ones.
 
 Make sure you have the necessary rights to grant us this license for any content that you submit to the&nbsp;fights.
 
 Enjoy and have fun!
 
 &nbsp;
 
 &nbsp;
								
								
								</td>
							</tr>
						</table>
	
	</div>

</div>





</body>

</html>