<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8"
	charset="UTF-8" />
<title>#GAME_TITLE# - #CHAPTER_NAME#</title>
</head>

<body>
	<div align="center">
		<H3>#GAME_TITLE#</H3>
		<H4>#CHAPTER_NAME#</H4>

		<form method="POST" action="" accept-charset="UTF-8">
			<table style="width: 80%" border="0">
				<tr>
					<td ALIGN="left" style="width: 70%" valign="top">

						<table border="0" style="width: 100%">
							<tr>
								<td ALIGN="left">#LOCATION#</td>


							</tr>
							<tr>
								<td ALIGN="left">#DESCRIPTION#</td>
							</tr>
							<tr>
								<td ALIGN="left">#ACTIONS#</td>
							</tr>

						</table>


					</td>
					<td></td>
					<td style="width: 30%" valign="top">
						<table border="0">
							<tr>
								<td>#INVENTORY_CAPTION#</td>
							</tr>
							<tr>
								<td>#INVENTORY_ITEMS#</td>
							</tr>
						</table>

					</td>
				</tr>
			</table>



		</form>

	</div>
</body>

</html>