<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8">
<link rel="stylesheet" type="text/css" href="font.style">
    <style>
      body {
        font-family: 'Open Sans', sans-serif;
        
      }
    </style>
	

</head>

<body bgcolor="#f4f4f4">

<div align="center">
<a href="/"><img width="1024" src="http://img.picfight.org/util/header1.jpg"/></a>


<table width="1024" border="0" CELLPADDING="10" style="background-color:#ffffff">
							<tr>
								<td ALIGN="center">
<a href="pf-top-pix">Top Pix</a> | <a href="pf-rating">Players Rating</a> | <a href="pf-past-fights">Past Fights</a></td>
							</tr>
							
						</table>
						<br>
						<table width="1024" border="0" CELLPADDING="10" style="background-color:#ffffff">
							<tr>
								<td ALIGN="center">#CONTENT#</td>
							</tr>
						</table>
	
	</div>

</div>





</body>

</html>