<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
<meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8"
	charset="UTF-8" />

</head>

<style type="text/css">
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
</style>

<body bgcolor="#f4f4f4">
	
	
	<div align="center">
	<table border="0" CELLPADDING="10" style="background-color:#ffffff">
							<tr>
								<td ALIGN="center">#HEADER#</td>
							</tr>
							<tr>
								<td ALIGN="center">#DESCRIPTION#</td>
							</tr>
							

						</table>
	
	</div>
	
	
</body>

</html>