<!DOCTYPE html>
<?xml version="1.0" encoding="UTF-8"?>
<html>
	<head>
		<meta
			http-equiv="Content-Type"
			content="text/xhtml; charset=UTF-8"
			charset="UTF-8" />
	</head>
	<body bgcolor="#BGCOLOR#">
		<div align="center">
			<h2>#USER_NAME#</h2>
			<form
				method="POST"
				action="logout"
			>
				<table
					style="width:80%"
					border="0"
				>
					<tr>
						<td
							ALIGN="right"
							style="width:50%"
						>Homepage:</td>
						<td>#HOMPAGE#</td>
					</tr>
				</table>
				<table
					style="width:80%"
					border="0"
				>
					<tr>
						<td ALIGN="center"></td>
					</tr>
				</table>
				<div align="center"> #GALLERY# 
				</div>
			</form>
		</div>
	</body>
</html>